<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-header>
          <ion-toolbar>
            <ion-title>Trackapp</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="vehicles" lines="none" detail="false" routerLinkActive="selected">
              <ion-label>Vehiculos</ion-label>
            </ion-item>
            <!-- <ion-item routerDirection="root" routerLink="config" lines="none" detail="false" routerLinkActive="selected">
              <!- - <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon> - ->
              <ion-label>Configuracion</ion-label>
            </ion-item> -->
          </ion-menu-toggle>
        </ion-list>
       
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
