
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Vehiculos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-item>
    <ion-button (click)="notification()">notification test</ion-button>
  </ion-item> -->
  <ion-card button="false" *ngFor="let vehicle of vehicles">
    <ion-item [routerLink]="['/vehicles/tracking', vehicle.imei]" routerDirection="forward" lines="none" detail="true">
      <ion-icon name="car" slot="start"></ion-icon>
      <ion-label slot="start">
        <ion-text>
          {{vehicle.vehicleAlias}}
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>
