
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Vehiculos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  
  <ion-card button="true">
    <ion-item [routerLink]="['/vehicles/tracking']" routerDirection="forward">
      <ion-icon name="car" slot="start"></ion-icon>
      <ion-label>Vehiculo 654</ion-label>
    </ion-item>
  </ion-card>
  <ion-card button="true">
    <ion-item [routerLink]="['/vehicles/tracking']" routerDirection="forward">
      <ion-icon name="car" slot="start"></ion-icon>
      <ion-label>Vehiculo 105</ion-label>
    </ion-item>
  </ion-card>
  <ion-card button="true">
    <ion-item [routerLink]="['/vehicles/tracking']" routerDirection="forward">
      <ion-icon name="car" slot="start"></ion-icon>
      <ion-label>Vehiculo 379</ion-label>
    </ion-item>
  </ion-card>
  
</ion-content>
